body{
    font-family: 'Abel', sans-serif;
}



.fa-user{
    position: absolute;
    top: 10%;
    left: 5%;
}
#fname-cont{
    position: relative;

}
#fname
{
    height: 20px;
    padding-left: 30px;
}
.fa-envelope{
    position: absolute;
    top: 10%;
    left: 3.5%;
}
#email1{
    position: relative;
}
.fa-mobile{
    position: absolute;
    top: 10%;
    left: 5%;
}
#mobile1{
    position: relative;

}
.fa-key{
    position: absolute;
    top: 10%;
    left: 7.5%;
}
#cp1{
    position: relative;

}
